html,
body {
	min-height: 100%;
}

::selection {
	background: #ff3c3c;
}

body {
	background: linear-gradient(#e1e1e1, #19191962) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow-x: hidden;
	/* font-family: Garamond, serif; */
	font-family: JetBrains Mono, monospace;
}

.main {
	padding-left: 2.5rem;
	padding-right: 2.5rem;
	padding-bottom: 2.5rem;
}

.main h1 {
	margin-top: 50px;
	margin-bottom: 50px;
	font-size: 100px;
	font-weight: bold;
	text-align: center;
	color: #191919;
}

.main p {
	padding: 10px;
	color: #191919;
	font-size: 20px;
	text-align: center;
}