html,
body {
	min-height: 100%;
}

::selection {
	background: #ff3c3c;
}

body {
	background: linear-gradient(#e1e1e1, #19191962) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow-x: hidden;
	font-family: Garamond, serif;
}

.main {
	padding-left: 2.5rem;
	padding-right: 5em;
	padding-bottom: 5em;
}

.game-card {
	border-radius: 15px;
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 2em;
	margin-top: 1em;
	filter: grayscale(100%);
	transition-duration: 0.4s;
}

.game-card img {
	height: 500px;
	width: 250px;
	border-radius: 15px;
	transition-duration: 0.4s;
}

.game-card:hover {
	background: #191919;
	color: #fff;
	transform: translateY(-10px);
	filter: grayscale(0%);
	border-radius: 15px;
	box-shadow: 0 0 5px #191919, 0 0 25px #191919, 0 0 50px #191919, 0 0 100px #191919;
}

.contact {
	display: table-row;
}

.contactnumber {
	color: #ff3c3c;
}

.cntbutton {
	background-color: #ff3c3c;
	/* Green */
	border-radius: 5px;
	padding: 7px 25px;
	margin-bottom: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
}

.cntbutton:active {
	transform: translateY(2px);
}

.cntbutton:focus {
	outline: 0;
}

.main h1 {
	margin-top: 50px;
	margin-bottom: 50px;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	color: #191919;
}

@media only screen and (max-width: 600px) {
	.main {
		padding-right: 2.5;
	}
}
