html,
body {
  min-height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x: hidden;
  font-family: Garamond, serif !important;
  margin: 0;
  padding: 0;
  background: linear-gradient(#e1e1e1, #19191962) no-repeat center center fixed;
}

::selection {
  background: #ff3c3c;
}


/* Style page content */
.main {
  margin-left: 150px;
  /* Same as the width of the sidebar */
}

.footer {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background: #191919;
  box-shadow: 0 10px 25px #00000099;
}

.footer a {
  color: #e1e1e1;
  text-transform: uppercase;
  text-decoration: none;
  padding-left: 25px;
  padding-right: 25px;
  transition: 0.5s;
}

.footer a:hover {
  color: #ff3c3c;
  text-decoration: none;
  transition: 0.5s;
}

.footer h6 {
  color: #191919;
  text-decoration: none;
  font-weight: bold;
}

.contact {
  display: table-row;
}

.contactnumber {
  color: #ff3c3c;
}

.cntbutton {
  background-color: #ff3c3c;
  color: #191919;
  /* Green */
  border-radius: 5px;
  padding: 7px 25px;
  margin-bottom: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.cntbutton:active {
  transform: translateY(2px);
}

.cntbutton:focus {
  outline: 0;
}

.download-box {
  padding-right: 200px;
  padding-bottom: 75px;
  width: 100px;
  white-space: nowrap;
  text-align: center;
  pointer-events: all;
}

.updatelogs-box {
  margin-left: 15px;
  margin-bottom: 15px;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 250px;
  background: rgba(0, 0, 0, .7);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  border-radius: 15px;
  text-align: center;
}

.updatelogs-box a {
  line-height: 30px;
  color: #e1e1e1;
  text-decoration: none;
  text-align: center;
  padding: 5px;
}

.updatelogs-box a:hover {
  background: #ff3c3c;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #ff3c3c,
    0 0 25px #ff3c3c,
    0 0 50px #ff3c3c,
    0 0 100px #ff3c3c;
}

.info-box {
  position: absolute;
  bottom: 20px;
  left: 20px;
  padding-left: 165px;
  color: #e1e1e1;
  pointer-events: none;
}

.info-box h1 {
  color: #e1e1e1;
  padding-right: 15px;
}

.info-box p {
  color: #e1e1e1;
  padding-right: 15px;
}

.info-box img {
  height: 250px;
  width: 250px;
  padding-bottom: 15px;
}

.modal-content {
  background-color: #191919;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content h6 {
  text-align: center;
  margin-top: .5em;
  color: #ff3c3c;
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
  pointer-events: none;
  text-transform: uppercase;
}

.modal-content p {
  text-align: center;
  color: #e1e1e1;
  text-decoration: none;
  padding: 15px;
  pointer-events: none;
}

.modal-content select {
  background-color: #222222;
  color: #535353;
  border: none;
  box-shadow: 0 0px 20px #00000099;
}

.modal-content select:hover {
  background-color: #535353;
  color: #e1e1e1;
  border: none;
}

.modal-content button {
  background-color: #222222;
  color: #535353;
  margin-top: 1em;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.5s;
}


.modal-content button:hover {
  background-color: #ff3c3c;
  color: #191919;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 0 5px #ff3c3c,
    0 0 25px #ff3c3c,
    0 0 50px #ff3c3c,
    0 0 100px #ff3c3c;
}

.game-info-box {
  padding-top: 25px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  box-sizing: border-box;
  background: #191919;
  box-shadow: 0 10px 25px #00000099;
}

.game-info-box h6 {
  text-align: center;
  color: #ff3c3c;
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
  pointer-events: none;
  text-transform: uppercase;
}

.game-info-box p {
  text-align: center;
  color: #e1e1e1;
  text-decoration: none;
  padding-left: 17.5rem;
  padding-right: 17.5rem;
  pointer-events: none;
}

.game-info-box img {
  margin: 50px;
  box-shadow: 0 10px 25px #00000099;
  filter: grayscale(100%);
  transition: 1s;
}

.game-info-box img:hover {
  box-shadow: 0 10px 25px #00000099;
  filter: grayscale(0%);
}

.game-info-box select {
  background-color: #191919;
  outline-color: #ff3c3c;
}

.img-box {
  width: 1770px;
  height: 900px;
  filter: grayscale(100%);
  transition-duration: 1s;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
}

.img-box:hover {
  filter: grayscale(0%);
}

.img-box p {
  padding: 15px;
  color: #e1e1e1;
}

.img-box img {
  padding: 15px;
  width: 285px;
  height: 250px;
}

.game-imgs img {
  height: 250px;
}

.download-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #e1e1e1;
  font-size: 25px;
  text-align: center;
}

.download-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  color: #ff3c3c;
  font-size: 10px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 10px;
  letter-spacing: 4px
}

.download-box a:hover {
  background: #ff3c3c;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #ff3c3c,
    0 0 25px #ff3c3c,
    0 0 50px #ff3c3c,
    0 0 100px #ff3c3c;
}

.download-box a span {
  position: absolute;
  display: block;
}

.download-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #ff3c3c);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.download-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #ff3c3c);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

.download-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #ff3c3c);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

.download-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #ff3c3c);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}

/* download list pop up */