html,
body {
    min-height: 100%;
}

::selection {
    background: #ff3c3c;
}

body {
    background: linear-gradient(#e1e1e1, #19191962) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
    font-family: Garamond, serif;
}


.main {
    margin-left: 150px;
    color: #e1e1e1;
    font-size: 25px;
    text-align: left;
}

.main h1 {
    font-size: 50px;
    font-weight: bold;
    text-align: left;
    color: #e1e1e1;
}

.update-box {
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding-left: 165px;
    color: #e1e1e1;
}

.update-box h1 {
    color: #e1e1e1;
    padding-right: 15px;
}

.update-box p {
    color: #a8a8a8;
    padding-right: 15px;
}

.update-box a {
    color: #ff3c3c;
    padding-right: 15px;
}

.update-box-gradient {
    background: #191919;
    background: linear-gradient(0deg, #191919 15%, rgba(0, 0, 0, 0) 75%);
}

.home-info {
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    box-sizing: border-box;
    background: #191919;
    box-shadow: 0 10px 25px #00000099;
}

.home-info h1 {
    color: #e1e1e1;
    padding-right: 15px;
}

.home-info p {
    color: #a8a8a8;
    padding-right: 15px;
}

.home-info a {
    color: #ff3c3c;
    padding-right: 15px;
    text-decoration: none;
}

.img-box {
    width: 100%;
    height: 100vh;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    position: relative;
    z-index: -1;
}

.img-box p {
    padding: 15px;
    color: #e1e1e1;
}

.img-box img {
    width: 285px;
    height: 250px;
}

/* The sidebar menu */
.sidenav {
    z-index: 2;
    height: 100%;
    /* Full-height: remove this if you want "auto" height */
    width: 150px;
    /* Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #191919;
    /* Black */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    text-align: center;
    padding-top: 20px;
    display: grid;
    align-content: space-between;
}

.sidenavlinks {
    display: block;
}

.contact {
    display: table-row;
}

.contactnumber {
    color: #ff3c3c;
}

.cntbutton {
    background-color: #ff3c3c;
    /* Green */
    border-radius: 5px;
    padding: 7px 25px;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.cntbutton:active {
    transform: translateY(2px);
}

.cntbutton:focus {
    outline: 0;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 0px;
    text-decoration: none;
    font-size: 15px;
    color: #666666;
    display: block;
    transition: 0.5s;
}

/* When you mouse over the navigation links, change their color */
.sidenavlinks a:hover {
    color: #a8a8a8;
    transition: 0.5s;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #ff3c3c #e1e1e100;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: #191919;
}

*::-webkit-scrollbar-thumb {
    background-color: #ff3c3c;
    border-radius: 0px;
    border: 0px none #191919;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}