html,
body {
	min-height: 100%;
}

::selection {
	background: #ff3c3c;
}

body {
	background: linear-gradient(#e1e1e1, #19191962) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow-x: hidden;
	font-family: Garamond, serif;
}

.main {
}

.main h1 {
	margin-top: 50px;
	margin-bottom: 50px;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	color: #191919;
}

.main p {
	color: #191919;
	font-size: 25px;
	margin-bottom: 500px;
	text-align: center;
}

.team-tags {
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
	width: 200px;
	text-align: center;
	box-sizing: border-box;
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
	border-radius: 10px;
}

.team-tags h6 {
	text-align: center;
	color: #e1e1e1;
	text-decoration: none;
	font-weight: bold;
}

.team-card {
	width: 150px;
	height: 150px;
	margin: 35px;
	border-radius: 500px;
	filter: grayscale(100%);
	transition-duration: 0.4s;
}

.team-card:hover {
	background: #191919;
	color: #fff;
	filter: grayscale(0%);
	border-radius: 500px;
	box-shadow: 0 0 5px #191919, 0 0 25px #191919, 0 0 50px #191919, 0 0 100px #191919;
}

.contact {
	display: table-row;
}

.contactnumber {
	color: #ff3c3c;
}

.cntbutton {
	background-color: #ff3c3c;
	/* Green */
	border-radius: 5px;
	padding: 7px 25px;
	margin-bottom: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
}

.cntbutton:active {
	transform: translateY(2px);
}

.cntbutton:focus {
	outline: 0;
}

.main {
	padding-left: 2.5rem;
	padding-right: 2.5rem;
	padding-bottom: 2.5rem;
}

.main .col-auto h3.team-member-name {
	text-align: center;
	color: #191919;
	text-decoration: none;
}
.main .col-auto h6.team-tags {
	background: #191919;
	color: #e1e1e1;
	text-transform: uppercase;
}
.main .col-auto a div.team-card img.card-img-top {
	border-radius: 100%;
}
